<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Walter+Turncoat" rel="stylesheet">
		<title>Eat-Da-Burger!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
